.continent-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 80vh;
}

.continent-body{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.continent-body h4{
  margin-top: 40px;
}

.continent-body p {
  margin-bottom: 50px;
}

.continent-images{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.continent-items{
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  color: rgb(72, 72, 72);
}

.continent-image-item{
  width: 180px;
  height: 180px;
  opacity: 0.5;
}

.continent-image-item:hover{
  width: 180px;
  height: 180px;
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

.clicked {
  width: 182px;
  height: 182px;
  opacity: 0.7;
}

.continent-button {
  height: 40px;
  width: 130px;
  background-color: #4cb7aa;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.continent-button:hover{
  background-color: #439d93;
}