@media only screen and (max-width: 600px) {
  .continent-images{
    display: inline-grid;
    grid-template-columns: auto auto;
    text-align: center;
  }

  .continent-items{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: rgb(72, 72, 72);
  }

  .continent-image-item{
    width: 90px;
    height: 90px;
    opacity: 0.6;
  }

  .continent-image-item:hover{
    opacity: 0.9;
    transition: opacity 0.5s ease-out;
  }
  
  .clicked {
    width: 95px;
    height: 95px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 601px) {
  .continent-images{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    text-align: center;
  }
  
  .continent-items{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    color: rgb(72, 72, 72);
  }
  
  .continent-image-item{
    width: 180px;
    height: 180px;
    opacity: 0.6;
  }

  .continent-image-item:hover{
    width: 180px;
    height: 180px;
    opacity: 0.9;
    transition: opacity 0.5s ease-out;
  }

  .clicked {
    width: 182px;
    height: 182px;
    opacity: 0.9;
  }
}

.continent-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.continent-container::after{
  content: "";
  background: url("/assets/background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.wait{
  margin-top: 25%;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.continent-body{
  background-color: white;
  margin: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  border-radius: 3%;
  opacity: 0.8;
}

.continent-body h4{
  margin-top: 40px;
}

.continent-body p {
  margin-bottom: 50px;
}

.continent-button {
  height: 40px;
  width: 130px;
  background-color: #4cb7aa;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.continent-button:hover{
  background-color: #439d93;
}