/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcome-container {
    display: flex;
    max-width: 100%; 
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .welcome-info{
    min-height: 600px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-image{
    display: none;
    height: 0;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .welcome-container {
    display: flex;
    max-width: 100%; 
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .welcome-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-image{
    min-height: 400px;
    min-width: 100%;
    background-image: url("/assets/welcome_page_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .welcome-container {
    display: flex;
    max-width: 100%; 
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .welcome-info{
    min-height: 500px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-image{
    flex: 1;
    min-height: 500px;
    min-width: 100%;
    background-image: url("/assets/welcome_page_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  .welcome-container {
    display: flex;
    flex-direction: row;
    max-width: 100%; 
    height: auto;
  }

  .welcome-info{
    min-width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-image{
    min-width: 50%;
    min-height: 100vh;
    background-image: url("/assets/welcome_page_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
  }

}

.welcome-content h1 {
  color: rgb(78, 78, 78);
  margin-bottom: 20px;
}

.welcome-button {
  height: 40px;
  width: 130px;
  background-color: #4cb7aa;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 30px;
}

.welcome-button:hover{
  background-color: #439d93;
}