@media only screen and (max-width: 600px) {
  .recommendations-container{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(241, 241, 241);
    color: rgb(60, 60, 60);
  }
  
  .recommendation{
    border-radius: 5%;
    background-color: #fff;
    width: 85%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
  }

  .recommendations-container h3{
    padding: 5px;
    width: 80%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
  }

  .recommendation-map{
    padding: 3%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    align-self: center;
    width: 100%;
    height: 35em;
    position: relative; /* Position can be absolute or relative based on your layout needs */
    top: 5px; /* Adjust based on layout */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 3%;
  }

  .mapboxgl-canvas{
    align-self: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 601px) { 

  .recommendations-container{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(241, 241, 241);
    color: rgb(60, 60, 60);
  }

  .recommendations-container h3{
    padding: 15px;
    width: 40%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
  }

  .recommendation{
    border-radius: 5%;
    background-color: #fff;
    width: 85%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    padding: 2% 0 2% 2%;
  }

  .recommendation-map{
    padding: 3%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    width: 100%;
    height: 30em;
    position: relative; /* Position can be absolute or relative based on your layout needs */
    top: 5px; /* Adjust based on layout */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 3%;
  }

  .mapboxgl-canvas{
    align-self: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
}

.recommendation-location{
  
}

#fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 42px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #4cb7aa;
}

#fly:hover {
  background: #4bafa3;
}

.loader-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader-container::after{
  content: "";
  background: url("/assets/background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.loader {
  background-color: white;
  margin: 5%;
  padding: 3%;
  border-radius: 3%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wait{
  margin-top: 25%;
  font-style: italic;
  color: gray;
}
