.recommendations-container{
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.map-container {
  height: 600px; /* Example height */
  width: 1000px;  /* Example width */
  position: relative; /* Position can be absolute or relative based on your layout needs */
  top: 5px; /* Adjust based on layout */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #4cb7aa;
}

.loader-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader-container::after{
  content: "";
  background: url("/assets/background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.loader {
  background-color: white;
  margin: 5%;
  padding: 3%;
  border-radius: 3%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wait{
  margin-top: 25%;
  font-style: italic;
  color: gray;
}