@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
  color: black;
  background-color: #ffffff;
}

header{
  background-color: #5BD0C2;
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
}

header img{
  margin-right: 20px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

body {
  margin: 0;
  place-items: center;
}
