.date-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.date-container::after{
  content: "";
  background: url("/assets/background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.date-picker-container {
  background-color: white;
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  border-radius: 3%;
  opacity: 0.8;
}

.react-datepicker{
  /* border-radius: 15px; */
}

.react-datepicker__month-container{
  width: 19em;
  height: 19em;
  font-size: large;
}

.react-datepicker__day-name{
  margin-top: 15px;
  padding: 5px;
  color: rgb(77, 77, 77);
}

.react-datepicker__week{
  border-bottom: 1px solid rgb(210, 210, 210);
}

.react-datepicker__day{
  padding: 5px;
  color: rgb(82, 82, 82);
}

.react-datepicker__header{
  background-color: aliceblue;
  border-radius: 5px;
}

.date-button {
  height: 40px;
  width: 130px;
  background-color: #4cb7aa;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 30px;
}

.date-button:hover{
  background-color: #439d93;
}